.articles {
  &-list {
    padding: 0;
    list-style: none;
    margin: $global-whitespace-large 0 0 (-$global-whitespace-large);

    > li {
      + li {
        margin-top: $global-whitespace-medium;
      }

      &:nth-child(2n) {
        a::before {
          background-position: 25% 65%;
        }
      }

      &:nth-child(3n) {
        a::before {
          background-position: 65% 25%;
        }
      }

      &:nth-child(5n) {
        a::before {
          background-position: 33% 33%;
        }
      }
    }

    a {
      position: relative;
      padding-left: $global-whitespace-large;
      transition: transform 0.25s easeOutBack;

      &:hover,
      &:focus {
        transform: translateX($global-whitespace-regular);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        size: 20px;
        background-image: url('../media/pattern.png');
        background-position: 75% 10%;
        background-repeat: no-repeat;
        transform-origin: center center;
        border-radius: 50%;
      }
    }
  }

  &-title {
    line-height: $base-heading-line-height;
    color: $global-font-color;
  }

  &-interiorTrigger {
    display: inline-block;
    transition: transform 0.25s easeOutBack;

    svg {
      size: 60px;
      transform: scale(0.5);
      transform-origin: center center;
      color: $global-font-color;
    }

    .icon-stroke {
      stroke-width: 2px;
    }

    &:hover,
    &:focus {
      transform: scale(1.15);
    }
  }
}

.section--articles {
  padding-top: ($global-whitespace-xlarge * 2);
}

.article {
  &-content {
    @media (max-width: $global-viewport-small-max) {
      padding-top: $global-whitespace-large;
    }
  }

  &-series {
    opacity: 0;
    transform: translateY($global-whitespace-large);
  }
}

@supports (-webkit-background-clip: text) {
  .article-title {
    position: relative;
    z-index: 2;
    background: url('../media/pattern.png') 85% 35% no-repeat;
    background-size: 1500px 1000px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 1px 1px rgba($global-dark, 0.1);
  }
}
