.intro {
  // GSAP
  opacity: 0;
  transform: translateY($header-height);
  padding: $global-whitespace-regular 0;

  @media (max-width: $global-viewport-small-max) {
    margin-top: $global-whitespace-large;
  }

  @media (min-width: $global-viewport-medium) {
    display: flex;
    min-height: calc(100vh - #{$header-height});
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-wrapper {
    width: 100%;
  }

  &-textContent {
    @media (max-width: $global-viewport-small-max) {
      text-align: center;
    }

    @media (min-width: $global-viewport-medium) {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
  }

  &-media {
    @media (max-width: $global-viewport-small-max) {
      margin-bottom: $global-whitespace-large;
    }

    @media (min-width: $global-viewport-medium) {
      margin-right: $global-whitespace-regular;
    }
  }

  &-text {
    letter-spacing: -0.05em;
  }

  &-header {
    @include fluid-type(40px, 50px);
  }

  &-sub {
    display: flex;
    align-items: center;

    @media (max-width: $global-viewport-small-max) {
      justify-content: center;
    }
  }
}

.nav-list {
  @media (max-width: $global-viewport-small-max) {
    text-align: center;
  }
}

.icon {
  &-logo {
    size: 120px;

    &--small {
      size: 100px;
      transform: scale(0.5);
      transform-origin: center center;
    }
  }
}
