<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if slug === 'home' %}Zach Schnackel{% else %}{{ title }} - Zach Schnackel{% endif %}</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,matchMedia,fetch,Element.prototype.placeholder"></script>
    <link rel="stylesheet" href="{{rootPath}}assets/css/site.css?{{ files['site.css'] }}">
    <link rel="alternate" type="application/rss+xml" name="Zach Schnackel" title="ZS Labs" href="{{rootPath}}rss.xml">
  </head>
  <body class="page-{{slug}}">
    {% include "icons.html" %}

    <div class="container u-posRelative" style="overflow: hidden">
      {% if (slug !== 'resume') %}
        <header class="header">
        {% if (slug !== 'home') %}
        <div>
          <a href="{{rootPath}}" class="button--reset logo-interior">
            <svg fill="url(#pattern)" class="icon-logo icon-logo--small">
              <use xlink:href="#logo"></use>
            </svg>
          </a>
        </div>
        <div>
          <a href="#articles" class="articles-interiorTrigger" data-offcanvas>
            <svg class="icon icon-list">
              <use xlink:href="#list"></use>
            </svg>
          </a>
        </div>
        {% endif %}
        <div>
          <a href="#aboutModal" class="button--reset about-trigger" data-modal>
            <img src="{{placeholder}}" data-src="{{rootPath}}assets/media/me.png" alt="Zach Schnackel">
          </a>
          <div id="aboutModal" class="modal aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal-title" aria-describedby="aboutModal-desc">
            <div class="modal-dialog">
              <div class="modal-body">
                <div class="u-flex u-flexEnd">
                  <button class="button--reset modal-close" type="button" data-modal-close><svg class="icon"><title>Close Modal</title><use xlink:href="#close"></use></svg></button>
                </div>
                <img src="{{placeholder}}" data-src="{{rootPath}}assets/media/me.png" class="aboutModal-image" alt="Zach Schnackel">
                <h2 id="aboutModal-title" class="u-textCenter">Hi, I'm Zach.</h2>
                <div id="aboutModal-desc">
                  <ul class="inline inline--center inline--largeAbout-social">
                    <li><a class="social-codepen" href="https://codepen.io/zslabs">
                        <svg class="icon">
                          <use xlink:href="#codepen"></use>
                        </svg>
                      </a></li>
                    <li><a class="social-github" href="https://github.com/zslabs">
                        <svg class="icon">
                          <use xlink:href="#github"></use>
                        </svg>
                      </a></li>
                    <li><a class="social-twitter" href="https://twitter.com/zslabs">
                        <svg class="icon">
                          <use xlink:href="#twitter"></use>
                        </svg>
                      </a></li>
                  </ul>
                  <p class="u-mv--large">I create buttons, borders, and other groovy things at <a href="http://www.rhinogram.com" class="u-textUnderline u-textDefault">Rhinogram</a>. My background involves pushing the limits of of what we can build on the backend and how we can experience it on the frontend. My passions are perfecting process and educating those around me.</p>
                  <div class="row row--largeGutter">
                    <div class="column-6@medium">
                      <h4>Speaking/Consulting</h4>
                      <p>Have an event and/or consluting project you'd like me to be apart of? Awesome! <a href="mailto:info@zslabs.com">Let's chat</a>.</p>
                    </div>
                    <div class="column-6@medium">
                      <h4>How'd you build this site?!</h4>
                      <p>Because I love open-source&mdash;it's available for anyone to view. Find a bug? Report it! <a href="https://github.com/zslabs/zslabs.github.io">View source</a>.</p>
                    </div>
                  </div>
                  <div class="u-mt--xlarge u-textCenter">
                    <span class="u-textMuted">Copyright &copy; {{currentYear}} Zach Schnackel. Penalty is</span> 🔥
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      {% endif %}
      {% block body %}{% endblock %}
    </div>
    {% if (slug !== 'resume') %}
      {% if articles %}
        <aside id="articles" class="offCanvas" tabindex="-1" role="dialog" aria-labelledby="articles-title">
          <div class="offCanvas-panel">
            <button class="button--reset offCanvas-close" type="button" data-offcanvas-close><svg class="icon"><title>Close Article list</title><use xlink:href="#close"></use></svg></button>
            <h2 class="article-title">Articles</h2>
            <ul class="articles-list">
              {% for article in articles %}
                <li><a class="u-inlineBlock" href="{{rootPath}}{{ article.path }}/"><div class="u-textLarge articles-title">{{ article.title }}</div><span class="u-textMuted">{{ article.date }}</span></a></li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      {% endif %}
    {% endif %}

    <script src="{{rootPath}}assets/js/site.js?{{ files['site.js'] }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17637644-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
  </html>
