<div style="border: 0px; clip: rect(0px 0px 0px 0px); height: 0px; overflow: hidden; padding: 0px; position: absolute; width: 0px;">
  <svg width="1500" height="1000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <pattern id="pattern" x="0" y="0" width="1" height="1">
        <image transform="scale(.25)" x="-800" y="-575" width="1500" height="1000" xlink:href="{{rootPath}}assets/media/pattern.png"/>
      </pattern>
    </defs>
    <rect width="1500" height="1000" fill="url(#pattern)"></rect>
  </svg>
</div>
