{% extends "base.html" %}

{% block body %}
  <main class="Section Article-content">
    <div class="Container Container--small">
      <h1 class="Article-title">{{ title }}</h1>
      <div class="u-textMuted u-mb--large">{{ date }}</div>
      {{ contents | safe }}
      <hr class="u-mv--large">
      <div id="disqus_thread">
        <button type="button" class="Button Button--comments Button--fullWidth" data-js="loadComments">View Comments</button>
      </div>
      <script type="text/javascript">
        var disqus_shortname  = 'zslabs';
        var disqus_title      = '{{ title }}';
        var disqus_identifier = '/{{ path }}';
        var disqus_url        = 'https://zslabs.com/{{ path }}';
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </main>
{% endblock %}
