{% extends "base.html" %}

{% block body %}
  <main class="section article-content">
    <div class="container container--small">
      <div class="article-header u-textCenter u-mb--large">
        <h1 class="article-title u-mb--small">{{ title }}</h1>
        <div class="u-textMuted">{{ date }}</div>
      </div>
      {{ contents | safe }}
      <hr class="u-mv--large">
      <div id="disqus_thread">
        <button type="button" class="button button--comments button--fullWidth" data-js="loadComments">View Comments</button>
      </div>
      <script type="text/javascript">
        var disqus_shortname  = 'zslabs';
        var disqus_title      = '{{ title }}';
        var disqus_identifier = '/{{ path }}';
        var disqus_url        = 'https://zslabs.com/{{ path }}';
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </main>
{% endblock %}
