//
// Variables
//

$button-default-enable: false;
$button-secondary-enable: false;
$button-secondary-enable: false;
$button-danger-enable: false;
$button-outline-enable: false;
$button-contrast-enable: false;
$button-icon-enable: false;
$button-background-size-active-enable: false;

@mixin hook-button() {
  letter-spacing: 0.25em;
  font-size: $global-font-size-small;
  text-transform: uppercase;
  font-weight: normal;
  transform-origin: center center;
  box-shadow: 0 0 15px rgba($global-dark, 0.15);
  background-image: url('../media/pattern.png') !important;
  background-color: transparent;
  background-repeat: no-repeat;
  color: $global-contrast;

  &:hover,
  &:focus {
    color: $global-contrast;
    box-shadow: 0 0 15px rgba($global-dark, 0.3);
    transform: translateY((-$global-whitespace--xsmall / 2));
  }

  &:active {
    box-shadow: 0 0 30px rgba($global-dark, 0.3);
  }

  &--primary {
    background-position: 55% 10% !important;
  }

  &--articles {
    background-position: 50% 40% !important;
  }

  &--resume {
    background-position: 70% 90% !important;
  }

  &--comments {
    background-position: 50% 30% !important;
  }
}

button {
  outline: 0;
}
