.Articles {
  &-list {
    padding: 0;
    list-style: none;
    margin: $global-whitespace--large 0 0 (-$global-whitespace--large);

    > li {
      + li {
        margin-top: $global-whitespace--medium;
      }

      &:nth-child(2n) {
        a::before {
          background-position: 25% 65%;
        }
      }

      &:nth-child(3n) {
        a::before {
          background-position: 65% 25%;
        }
      }

      &:nth-child(5n) {
        a::before {
          background-position: 33% 33%;
        }
      }
    }

    a {
      position: relative;
      padding-left: $global-whitespace--large;
      transition: transform 0.25s easeOutBack;

      &:hover {
        transform: translateX($global-whitespace--regular);
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        size: 20px;
        background-image: url('../media/pattern.png');
        background-position: 75% 10%;
        background-repeat: no-repeat;
        transform-origin: center center;
      }
    }
  }

  &-title {
    line-height: $base-heading-line-height;
    color: $global-font-color;
  }

  &-interiorTrigger {
    display: inline-block;
    transition: transform 0.25s easeOutBack;

    svg {
      size: 60px;
      transform: scale(0.5);
      transform-origin: center center;
      fill: $global-font-color;
    }

    &:hover {
      transform: scale(1.25);
    }
  }
}

.Section--articles {
  padding-top: ($global-whitespace--xlarge * 2);
}

.Article {
  &-content {
    @media (max-width: $global-viewport--small-max) {
      padding-top: $global-whitespace--large;
    }
  }

  &-title {
    @media (min-width: $global-viewport--medium) {
      font-size: ($base-h1-font-size * 1.25);
    }
  }

  &-series {
    opacity: 0;
    transform: translateY($global-whitespace--large);
  }
}

@supports (-webkit-background-clip: text) {
  .Article-title {
    position: relative;
    z-index: 2;
    background: url('../media/pattern.png') 85% 35% no-repeat;
    background-size: 1500px 1000px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 1px 1px rgba($global-dark, 0.1);
  }
}
