.Header {
  display: flex;
  margin: 0 (-$global-whitespace--regular);
  height: $header-height;
  justify-content: space-between;
  align-items: center;

  > * {
    // GSAP
    transform: translateY(-$header-height);
    opacity: 0;

    &:only-child {
      flex-basis: 100%;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.Logo-interior {
  display: inline-block;
  transition: transform 0.25s easeOutBack;
  transform-origin: center center;

  &:hover {
    transform: scale(1.25);
  }
}

.About {
  &-trigger {
    display: inline-block;
    transition: transform 0.25s easeOutBack;
    transform-origin: center center;

    &:hover {
      transform: scale(1.25);
    }

    img {
      border-radius: 50%;
      size: 100px;
      transform: scale(0.5);
    }
  }

  &Modal {
    &-image {
      border-radius: 50%;
      size: 100px;
      display: block;
      margin: $global-whitespace--regular auto 0 auto;
    }
  }
}

[class^="Social-"] {
  border-radius: 50%;
  size: 50px;
  line-height: 50px;
  text-align: center;
  background-image: url('../media/pattern.png');
  background-repeat: no-repeat;
  display: block;
  transition: transform 0.25s easeOutBack;
  transform-origin: center center;

  &:hover {
    transform: scale(1.25);
  }

  svg {
    fill: $global-contrast;
    size: 1.25em;
  }
}

.Social {
  &-github {
    background-position: 45% 70%;
  }

  &-codepen {
    background-position: 30% 30%;
  }

  &-twitter {
    background-position: 70% 10%;
  }
}
